
/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1 {
    color: #84B6A1;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #84B6A1;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-top: 30px;
}

li {
    padding-top: 5px;
}

*/